<div data-controller="card-profil" data-card-profil-number-value="<%= company.currency_stock.pourcentage%>">
          <div class="card-profile card-profile-green" data-card-profil-target="border">

            <div class="company-profile-info">
              <img src='<%= company.photo_url%>'>
              <h3><%= company.name %></h3>
            </div>

            <div class="stock-info">
              <p class="stock-status stock-status-green" data-card-profil-target="pourcentage"><%= company.currency_stock.pourcentage%> <span id="pourcentage">%</span></p>
                <div class="col p-1">
                  <div class='row align-items-center p-1'>
                    <p class="col-6 stock-number text-end "><%= company.stock_quantity(current_user)%></p>
                    <p class="col-6 stock-text text-start" >Stocks</p>
                  </div>
                  <div class='row align-items-center p-1'>
                    <p class="col-6 stock-number text-end "><%= company.gains(current_user).round%></p>
                    <p class="col-6 stock-text text-start" >USD gains</p>
                  </div>
                </div>
                <div class="col p-1">
                  <div class='row align-items-center p-1'>
                    <p class="col-6 stock-number text-end "><%= company.total_stock(current_user).round %></p>
                    <p class="col-6 stock-text text-start" >USD total</p>
                  </div>
                  <div class='row align-items-center p-1'>
                    <p class="col-6 stock-number text-end ">-<%= company.stop_loss(current_user).round%></p>
                    <p class="col-6 stock-text text-start" >USD stop-loss</p>
                  </div>
                </div>
                  <a href="#" id='buy-far'>Buy</a>
                  <a href="#" id='sell'>Sell</a>
            </div>
            <div class="alert-stop-loss">
              <div class="d-flex flex-row">
                <i class="fas fa-exclamation-triangle"></i>
                <p>Limit reached</p>
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div>
</div>
