<div data-controller="card-profil" data-controller="alert-up" data-card-profil-number-value="<%= company.currency_stock.pourcentage%>">
          <div class="card-profile card-profile-green" data-card-profil-target="border" data-controller="buy-btn">
          <% @track_item = TrackItem.find_by(company_id: company.id, user_id: current_user.id) %>
            <div class="company-profile-info">
              <img src='<%= company.photo_url%>'>
              <%= link_to company_path(company) do %>
                <a href="#" id="company-<%= company.id %>" class="anchor"></a>
                <h3><%= company.name %></h3>
              <%end%>
            </div>

            <div class="stock-info">
              <p class="stock-status stock-status-green" data-card-profil-target="pourcentage"><%= company.currency_stock.pourcentage%> <span id="pourcentage">%</span></p>
                <div class="col p-1">
                  <div class='row align-items-center p-1'>
                    <p class="col-6 stock-number text-end "><%= company.stock_quantity(current_user)%></p>
                    <p class="col-6 stock-text text-start" >Stocks</p>
                  </div>
                  <div class='row align-items-center p-1'>
                    <p class="col-6 stock-number text-end "><%if company.gains(current_user).positive?%>+ <%end%><%= company.gains(current_user).round%></p>
                    <p class="col-6 stock-text text-start" >USD gains</p>
                  </div>
                </div>
                <div class="col p-1">
                  <div class='row align-items-center p-1'>
                    <p class="col-6 stock-number text-end "><%= company.total_stock(current_user).round %></p>
                    <p class="col-6 stock-text text-start" >USD total</p>
                  </div>
                  <div class='row align-items-center p-1'>
                    <p class="col-6 stock-number text-end "><%if company.favorite(current_user).stop_loss.round != 0%>- <%end%><%= company.favorite(current_user).stop_loss.round%></p>
                    <p class="col-6 stock-text text-start d-flex" >USD stop-loss<a data-action="click->buy-btn#appearLoss" ><i class="fas fa-pen-nib"></i>
                        <% if @track_item.alert_dismissed %>
                          <%= link_to reset_path(@track_item), remote: true, method: :patch do %>
                            <i class="far fa-bell"></i>
                          <% end %>
                        <% else %>
                          <%= link_to dismiss_path(@track_item), remote: true, method: :patch do %>
                            <i class="far fa-bell-slash"></i>
                          <% end %>
                        <% end %>
                  </div>
                </div>
                  <%= link_to favorite_path(Favorite.where('company_id = ? AND user_id = ?', company.id, current_user)[0]), method: :delete, id:"unfollow", data: { buy_btn_target: "unfollow" }  do%>
                    Unfollow
                  <%end%>
                  <a data-buy-btn-target="buy" data-action="click->buy-btn#appearBuy" id='buy-far'>Buy</a>
                  <a data-buy-btn-target="sell" data-action="click->buy-btn#appearSell" id='sell'>Sell</a>
            </div>
            <div class='track_form d-none' data-buy-btn-target="form">
              <div class="d-flex flex-row-reverse" data-buy-btn-target="cross" data-action="click->buy-btn#cancelbuy"><i class="fas fa-times"></i></div>
              <p class="buy">Buy</p>
              <%= simple_form_for(@track_items, remote: true) do |f| %>
                  <%= f.input :company_id, :as => "hidden", :input_html => { :value => company.id } %>
                  <%= f.input :stock_quantity, :label => 'Number of stocks:' %>
                  <%= f.input :value_stock, :label => 'Price of stocks:' %>
                  <div class="d-flex flex-row-reverse"><%= f.button :submit, 'Submit', class: 'btn-end btn-bold' %></div>
              <% end %>
            </div>
            <div class='track_form d-none' data-buy-btn-target="formsell">
              <div class="d-flex flex-row-reverse" data-buy-btn-target="cross" data-action="click->buy-btn#cancelsell"><i class="fas fa-times"></i></div>
               <p class="sell">Sell</p>
               <%= simple_form_for(@track_items, remote: true) do |f| %>
                  <%= f.input :company_id, :as => "hidden", :input_html => { :value => company.id } %>
                  <%= f.input :stock_quantity, :label => 'Number of stocks:' %>
                  <%= f.input :value_stock, :label => 'Price of stocks:' %>
                  <div class="d-flex flex-row-reverse"><%= f.button :submit, 'Submit', class: 'btn-end btn-bold', name: "sell"  %></div>
               <% end %>
            </div>

            <div class='track_form d-none' data-buy-btn-target="formloss">
              <div class="d-flex flex-row-reverse" data-buy-btn-target="cross" data-action="click->buy-btn#cancelloss"><i class="fas fa-times"></i></div>
              <%= simple_form_for(company.favorite(current_user), remote: true) do |f| %>
                <%= f.input :company_id, :as => "hidden", :input_html => { :value => company.id } %>
                <%= f.input :stop_loss,  :label => 'Change stop-loss: ' %>
                <div class="d-flex flex-row-reverse"><%= f.button :submit, 'Submit', class: 'btn-end btn-bold', name: "sell"  %></div>
              <%end %>
            </div>
            <% if !@track_item.alert_dismissed %>
              <div class="alert-stop-loss">
                <div class="d-flex flex-row">
                  <i class="fas fa-exclamation-triangle"></i>
                  <p>Limit reached</p>
                  <%= link_to dismiss_path(@track_item),remote: true, method: :patch do %>
                    <i class="fas fa-times" ></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
</div>
