<div data-controller="card-profil" data-card-profil-number-value="<%= company.currency_stock.pourcentage%>">
  <% if current_user.track_items.to_a.any? {|tracked_company| tracked_company.company == company } %>

              <div class="card-profile card-profil-green" data-controller="buy-btn" data-card-profil-target="border">
                <div class="company-profile-info">
                  <img src='<%= company.photo_url%>'>
                  <%= link_to company_path(company) do %>
                    <h3><%= company.name %></h3>
                  <%end%>
                </div>
                <div class="stock-info">
                  <p class="stock-status stock-status-green" data-card-profil-target="pourcentage"><%= company.currency_stock.pourcentage%> <span id="pourcentage">%</span></p>
                    <div class="col p-1">
                      <div class='stock-detail-row row p-1'>
                        <p class="col-6 stock-number"><%= company.stock_quantity(current_user)%></p>
                        <p class="col-6 stock-text " >Stocks</p>
                      </div>
                      <div class='stock-detail-row row p-1'>
                        <p class="col-6 stock-number"><%if company.gains(current_user).positive?%>+ <%end%><%= company.gains(current_user).round%></p>
                        <p class="col-6 stock-text" >USD gains</p>
                      </div>
                    </div>
                    <div class="col p-1">
                      <div class='stock-detail-row row p-1'>
                        <p class="col-6 stock-number "><%= company.total_stock(current_user).round %></p>
                        <p class="col-6 stock-text " >USD total</p>
                      </div>
                      <div class='stock-detail-row row p-1'>
                        <p class="col-6 stock-number "><%if company.favorite(current_user).stop_loss.round != 0%>- <%end%><%= company.favorite(current_user).stop_loss.round%></p>
                        <p class="col-6 stock-text d-flex">USD stop-loss <a data-action="click->buy-btn#appearLoss" ><i class="fas fa-pen-nib"></i></a></p>
                      </div>
                    </div>
                    <div >
                      <%= link_to favorite_path(Favorite.where('company_id = ? AND user_id = ?', company.id, current_user)[0]), method: :delete, id:"unfollow", data: { buy_btn_target: "unfollow" } do%>
                        Unfollow
                      <%end%>
                      <a data-buy-btn-target="buy" data-action="click->buy-btn#appearBuy" id='buy-far'>Buy</a>
                      <a data-buy-btn-target="sell" data-action="click->buy-btn#appearSell" id='sell'>Sell</a>
                    </div>
                </div>
                  <div class='track_form d-none' data-buy-btn-target="form">
                    <div class="d-flex flex-row-reverse" data-buy-btn-target="cross" data-action="click->buy-btn#cancelbuy"><i class="fas fa-times"></i></div>
                    <p class="buy">Buy</p>
                    <%= simple_form_for(@track_items) do |f| %>
                      <%= f.input :company_id, :as => "hidden", :input_html => { :value => company.id } %>
                      <%= f.input :stock_quantity, :label => 'Number of stocks:' %>
                      <%= f.input :value_stock, :label => 'Price of stocks:' %>
                      <div class="d-flex flex-row-reverse"><%= f.button :submit, 'Submit', class: 'btn-end btn-bold' %></div>
                    <% end %>
                  </div>
                  <div class='track_form d-none' data-buy-btn-target="formsell">
                    <div class="d-flex flex-row-reverse" data-buy-btn-target="cross" data-action="click->buy-btn#cancelsell"><i class="fas fa-times"></i></div>
                    <p class="sell">Sell</p>
                    <%= simple_form_for(@track_items) do |f| %>
                      <%= f.input :company_id, :as => "hidden", :input_html => { :value => company.id } %>
                      <%= f.input :stock_quantity, :label => 'Number of stocks:' %>
                      <%= f.input :value_stock, :label => 'Price of stocks:' %>
                      <div class="d-flex flex-row-reverse"><%= f.button :submit, 'Submit', class: 'btn-end btn-bold', name: "sell"  %></div>
                    <% end %>
                  </div>

                  <div class='track_form d-none' data-buy-btn-target="formloss">
                    <div class="d-flex flex-row-reverse" data-buy-btn-target="cross" data-action="click->buy-btn#cancelloss"><i class="fas fa-times"></i></div>
                    <%= simple_form_for(company.favorite(current_user)) do |f|%>
                      <%= f.input :company_id, :as => "hidden", :input_html => { :value => company.id } %>
                      <%= f.input :stop_loss,  :label => 'Change stop-loss: ' %>
                      <div class="d-flex flex-row-reverse"><%= f.button :submit, 'Submit', class: 'btn-end btn-bold', name: "sell"  %></div>
                    <% end %>
                  </div>


              </div>

  <% else %>


              <div class="card-profile" data-controller="start-tracking-button" data-card-profil-target="border">
                <div class="company-profile-info">
                  <img src='<%= company.photo_url%>'>
                  <%= link_to company_path(company) do %>
                    <h3><%= company.name %></h3>
                  <%end%>
                </div>
                <div class="stock-info d-flex flex-row-reverse">
                  <p class="stock-status" data-card-profil-target="pourcentage"><%= company.currency_stock.pourcentage%> <span id="pourcentage">%</span></p>
                  <div class="btn btn-bold" data-start-tracking-button-target="button" data-action="click->start-tracking-button#appear">Track</div>
                </div>
                <div class='d-none track_form' data-start-tracking-button-target="form">
                  <%= simple_form_for(@track_items) do |f| %>
                    <div class="d-flex flex-row-reverse" data-start-tracking-button-target="cross" data-action="click->start-tracking-button#canceltrack"><i class="fas fa-times"></i></div>
                    <%= f.input :company_id, :as => "hidden", :input_html => { :value => company.id } %>
                    <%= f.input :stock_quantity, :label => 'Number of stocks:' %>
                    <%= f.input :value_stock, :label => 'Price of stocks:' %>
                    <div class="d-flex flex-row-reverse"><%= f.button :submit, 'Submit', class: 'btn-end btn-bold' %></div>
                  <% end %>
                </div>
              </div>

  <% end %>
</div>
