<div class="below-navbar" data-controller="profil">
  <div class="body-part">
    <div class="container containerPerso">

      <div class="header-profil">
        <div class="profil-main-information">
          <h1><%= current_user.name%></h1>
          <% if current_user.photo.key? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-profil"%>
          <% else %>
            <%= image_tag "https://tse4.mm.bing.net/th?id=OIP.vAJEPP27RrrXc8H9WguukgHaHa&pid=Api&P=0&w=178&h=178", class: "avatar-profil" %>
          <% end %>
          <div class="d-flex justify-content-between btn-header">
            <div class="choice-info d-flex">
              <h4 class="btn-active" data-action = "click->profil#display" data-choice="actionee" data-profil-target="btnactionee">My actionee</h4>
              <h4 class="btn-unactive" data-action = "click->profil#display" data-choice="overview" data-profil-target="btnoverview">Overview</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="actionee" data-profil-target="actionee">
        <% current_user.companies.each do |company|%>
          <%if company.gains(current_user).negative?%>
            <%= render 'alert_stop_loss', company: company%>
          <%else%>
            <%=render 'new_company', company: company%>
          <%end%>
        <% end %>


      </div>

      <div class="overview d-none" data-profil-target="overview">
        <h2>Since <%=current_user.created_at.strftime('%B %Y')%></h2>
        <div class="total-gain">
          <p><%if current_user.total_gains.positive?%>+ <%end%><%= current_user.total_gains%> <span>USD</span></p>
        </div>


          <%if @order_invest[0].length == 1 && @order_invest[1].length == 0%>
            <%= render 'one_invest', order_invest: @order_invest[0][0]%>
          <%elsif @order_invest[0].length != 0 && @order_invest[1].length != 0%>
            <%= render 'two_invest', order_invest: @order_invest %>
          <%end%>
    </div>
  </div>
</div>
