<div class ="banner-image" style="background-image: url('https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=865&q=80');">
  <div class="container">
    <div class="main-title">
      <h1>Your path to financial success</h1>
      <%= link_to "Invest now", companies_path%>
    </div>
  </div>
</div>

<div class="container containerPerso">
  <div class="body-home">

      <div class="body-part">
        <h2>Why choose us ?</h2>
        <div class="row">

          <div class="card col-sm-12 col-lg-3">
            <div class="content">
              <div class="card_reason front">
                <p>Advanced filtering</p>
                <%= image_tag('filter.png')%>
              </div>
              <div class="back">
                <p>Actionee, The website that will give you the tools and insights to make smarter investments.</p>
              </div>
            </div>
          </div>

          <div class="card col-sm-12 col-lg-3">
            <div class="content">
              <div class="card_reason front">
                <p>Keeping track the smart way</p>
                <%= image_tag('track.png')%>
              </div>
              <div class="back">
                <p>Through our advanced filtering tool, you will be able to find companies that fit your values.</p>
              </div>
            </div>
          </div>

          <div class="card col-sm-12 col-lg-3">
            <div class="content">
              <div class="card_reason front">
                <p>Strong community</p>
                <%= image_tag('community.png')%>
              </div>
              <div class="back">
                <p>Actionee is here to help you track of your favorite stocks and alerts of significant losses. We hope you will feel at home, with our vibrant community of investors.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="body-part">
        <h2>Top 3 of the day</h2>
        <% @top_3_companies.each_with_index do |company, index|%>
          <div class="card-company-green card-company companies-huge top-3-card" data-controller="card-company" data-card-company-number-value="<%= company.currency_stock.pourcentage%>" data-card-company-target="border">
            <div>
              <%= link_to company_path(company) do%>
                <div class="company-info">
                  <div class="hierarchy">
                    <h1>0<%= index + 1 %></h1>
                  </div>

                  <h3><%= company.name %></h3>

                </div>

                <div class="add">
                  <img src='<%= company.photo_url %>' class="image-company">
                    <div class="arrow-company">
                      <% if company.currency_stock.pourcentage > 0 %>
                        <%= image_tag('arrow-trend-up.svg')%>
                      <% else %>
                        <%= image_tag('arrow-trend-down.PNG')%>
                      <% end %>
                    </div>
                </div>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
</div>
