<div data-search-target="list">
      <% companies.each do |company|%>
        <div class="companies row">
          <div class="col-lg-6 col-sm-12">
            <%= link_to company_path(company) do%>
              <div class="card-company-little">
                <div class="company-info">
                  <img src='<%= company.photo_url%>'>
                  <h3><%= company.name %></h3>
                </div>

                <div class="stock-info">
                  <p class="stock-status">+ 1,36 <span id="pourcentage">%</span></p>
                  <p class="stock-value">3450 <span id="currency">USD</span></p>
                </div>

                <div class="add">
                  <% if user_signed_in? %>
                    <%if @favorite_user.where('company_id = ?', company.id)[0].nil? %>

                      <a href="#" id="company-<%= company.id %>" class="anchor"></a>
                      <%= link_to company_favorites_path(company), method: :post, remote: true do%>
                        <i class="fas fa-plus"></i>
                      <%end%>

                    <%else%>

                      <a href="#" id="company-<%= company.id %>" class="anchor"></a>
                      <%= link_to favorite_path(@favorite_user.where('company_id = ?', company.id)[0]), method: :delete, remote: true do%>
                        <i class="fas fa-minus"></i>
                      <%end%>

                    <%end%>
                  <%end%>
                </div>
              </div>
            <%end%>
          </div>

          <div class="col-lg-6 col-sm-12 graph-company">
            <%= image_tag('graph_exemple.png')%>
          </div>

        </div>
      <%end%>
</div>
